<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form th:object="${e}" method="post">
    <span>languages: </span>
    <select th:field="*{languages}">
        <th:block th:each="l: ${languages}">
        <option th:value="${l}" th:text="${l}"></option>
        </th:block>
    </select><br>
    <span>page size: </span>
    <select th:field="*{pageSize}">
        <th:block th:each="p: ${pageSize}">
        <option th:value="${p}" th:text="${p}" ></option>
        </th:block>
    </select>
    <span> email per page</span><br>
    <span>spams fillter: </span><input type="checkbox" th:field="*{spamsFillter}"> <span>Enable spams fillter</span><br>
    <span>signature: </span>
    <textarea th:field="*{signature}"></textarea><br>
    <button type="submit">Update</button>
    <button><a href="/email">Cancel</a></button>
</form>
</body>
</html>